<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSmart: Your path to a greener you.</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="particle-background" ></div>
    <div id="about-work"> </div>
    <header >
        <h1>EcoSmart: AI-Powered Carbon Footprint</h1>
    </header>
    <div class ="container">
    <div class="section" id="login">
        
        
        <div class="section">
            <h1>Welcome to EcoSmart</h1>
            <form id="loginForm" action="#" method="POST">
                <a href="/login" class="cta-button">Login</a>
                <a href="/register" class="cta-button">Register</a>
            </form>
        </div>
       
        <div class="section" id="about-us">
            <h2><i class="fas fa-users"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meet the Team</h2>

            <div class="team">
            
                <div class="member">
                    <img src="{{ url_for('static', filename='images/AS.png') }}" alt="Poimanti Hazra">
                    <h3>Abhijeet Soni</h3>
                    <p></p>
                    <div class="social-icons">
                        <a href="@example.com"><i class="fas fa-envelope"></i></a>
                        <a href="" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                
                <div class="member">
                    <img src="{{ url_for('static', filename='images/BS.png') }}" alt="Riddhi Bandyopadhyay">
                    <h3>Bhushan Songire</h3>
                    <p> </p>
                   
                    <div class="social-icons">
                        <a href=""><i class="fas fa-envelope"></i></a>
                        <a href="" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                
                <div class="member">
                    <img src="{{ url_for('static', filename='images/BK.webp') }}">
                    <h3>Bhavyata Kaur</h3>
                    <p><p>
                    <div class="social-icons">
                        <a href="mailto:bhavyatakaur@example.com"><i class="fas fa-envelope"></i></a>
                        <a href="https://github.com/bhavyatakaur03" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="www.linkedin.com/in/bhavyata-kaur" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="">
            <h2><i class="fas fa-info-circle"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About Us</h2>
            <p>We are a group of developers committed to creating tools that help people understand and reduce their carbon footprints.</p>
        </div>
    </div>
</div>
    <footer>
        <p>© 2024 EcoSmart Carbon Footprint Calculator. All Rights Reserved.</p>
    </footer>

    <script>

    </script>
</body>



</html>

