<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSmart: Your path to a greener you.</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="particle-background" ></div>
    <div id="about-work"> </div>
    <header >
        <h1>EcoSmart: AI-Powered Carbon Footprint</h1>
    </header>

    <div class="container">
        

        <div class="section" id="team">
            <h2><i class="fas fa-poll"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter data</h2>
            <p>To enter click the button below</p>
            <a href="/options" class="cta-button">Click Here</a>
        </div>
          

    </div>

    <footer>
        <p>© 2024 EcoSmart Carbon Footprint Calculator. All Rights Reserved.</p>
    </footer>

    <script>

    </script>
</body>



</html>

