<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Options</title>
    <link rel="stylesheet" href="/static/css/options.css" >
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Which Category Do You Belong to?</h1>
            
        </div>
    </header>
    <main>
        <div class="survey-options">
            <div class="survey-card individual">
                <div class="overlay"></div>
                <div class="content">
                    <h2>Individual Person</h2>
                    <p>Enter Data</p>
                    <a href="/individualfootprint" class="btn">Click Here</a>
                </div>
            </div>
            <div class="survey-card national">
                <div class="overlay"></div>
                <div class="content">
                    <h2>Country</h2>
                    
                   <p> Enter Data </p>
                    <a href="/nationalfootprint" class="btn">Click Here</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>